html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    cursor: default;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    color: white;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(23, 23, 23, 0.5) 2%,
    #101010 10%,
    rgba(0, 0, 0, 1) 92%,
    rgba(0, 0, 0, 0) 96%,
    rgba(0, 0, 0, 1) 100%);
    z-index: -1;
}

.footer-background {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 900px;
    background-image: url("assets/footer-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

.footer-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-image: url("assets/footer-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

.header {
    position: relative;
    top: 15px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.logo {
    width: 100px;
}

.top-nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-size: 24px;
    gap: 20px;
}

.floating-cart {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #f5bd33;
    color: #1e1e1e;
    padding: 15px 20px;
    box-shadow: 0 0 10px #f5bd33;
    cursor: pointer;
}

.links {
    display: inline-block;
    background-color: transparent;
    color: white;
    font-size: 30px;
    border-color: transparent;
    transition: transform 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

.links:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 1);
    transform: scale(1.1);
}

.black-btn {
    height: fit-content;
    color: #f5bd33;
    background-color: transparent;
    border: solid 2px #f5bd33;
    box-shadow: 0 0 8px #f5bd33;

    padding: 20px;
    margin-top: 25px;
    cursor: pointer;
}

.yellow-btn {
    height: fit-content;
    color: #232323;
    background-color: #f5bd33;
    box-shadow: 0 0 8px #f5bd33;

    padding: 20px;
    margin-top: 25px;
    cursor: pointer;
}

.title {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main-title {
    color: #f2d181;
    text-align: center;
    font-size: 70px;
    line-height: 1;
    margin: 0.1em 0 0.1em 0;
}

.subtitle {
    font-size: 30px;
    font-weight: 100;
    line-height: 1;
    margin: 0.1em 0;
}

.subtitle-info {
    font-weight: 100;
    font-size: 20px;
}

.subtitle-info, .main-title {
    white-space: pre-line;
    display: block;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.specials-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.specials-cards > div:nth-child(2) .food-card {
    background-color: #1e1e1e;
}


.food-card {
    background-color: #2e2e2e;
    padding: 20px;
    margin: -0.3em 0;
}

.specials-cards > div {
    box-shadow: 0 0 4px rgba(255, 214, 128, 0.5);
}

.card-name {
    color: #f2d181;
}

.card-description {
    white-space: pre-line;
    font-weight: 100;
}

.stars {
    margin: 0.1em 0;
    font-size: 40px;
    color: #f5bd33;
}

.menu-container {
    text-align: center;
    padding: 20px;
    color: white;
}

.menu-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.menu-buttons button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 20px 25px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}

.menu-buttons button.active {
    background-color: #d4af37;
    color: black;
    font-weight: 400;
    border-color: black;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;
    width: 80%;
}

.menu-item.left {
    flex-direction: row;
}

.menu-item.right {
    flex-direction: row-reverse;
}

.menu-item img {
    width: 60%;
    object-fit: cover;
}

.menu-info {
    width: 40%;
    padding: 0 40px 0 40px;
    text-align: left;
}

.menu-info h3 {
    color: #d4af37;
    font-size: 50px;
}

.menu-info p {
    font-size: 30px;
}

.menu-price {
    font-size: 50px;
    font-weight: bold;
    color: #d4af37;
}

.events-container {
    text-align: center;
    padding: 20px;
    color: white;
}

.events-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.events-buttons button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 20px 25px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}

.events-buttons button.active {
    background-color: #d4af37;
    color: black;
    font-weight: 400;
    border-color: black;
}

.event-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-item {
    display: flex;
    align-items: center;
    width: 80%;
}

.event-item.left {
    flex-direction: row;
}

.event-item.right {
    flex-direction: row-reverse;
}

.event-item img {
    width: 60%;
    object-fit: cover;
}

.event-info {
    width: 40%;
    padding: 0 40px 0 40px;
    text-align: left;
}

.event-info h3 {
    color: #d4af37;
    font-size: 50px;
}

.event-info p {
    font-size: 30px;
}

.event-price {
    font-size: 50px;
    font-weight: bold;
    color: #d4af37;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.about-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about-us-images {
    display: flex;
}

.about-us-info {
    padding: 10px;
    text-align: left;
    font-size: 35px;
    font-weight: 100;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-info {
    display: flex;
    gap: 30px;
    font-size: 25px;
    font-weight: 100;
}

.socials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    margin-bottom: 50px;
}

.socials {
    display: flex;
    gap: 30px;
}

.socials a {
    padding: 5px;
    border-bottom: solid 1px yellow;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.reservation-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.reservation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.fields {
    display: flex;
    gap: 15px;
    font-size: 18px;
    align-items: center;
}

.field {
    width: 400px;
    height: 50px;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    border: 1px solid #f5bd33;
    background-color: #101010;
    color: #f5bd33;
    box-shadow: 0 0 8px rgb(245, 189, 51);
    transition: all 0.2s ease;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    line-height: 50px;
    cursor: pointer;
}

select.field {
    background-image: none;
}

.react-datepicker__input-container input {
    all: unset;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    font-family: inherit;
    background-color: transparent;
    color: #f5bd33;
    cursor: pointer;
    box-sizing: border-box;
}

.cart-page {
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    width: 90%;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e;
    padding: 20px;
    box-shadow: 0 0 4px rgba(255, 214, 128, 0.5);
}

.cart-info {
    flex: 2;
    text-align: left;
}

.cart-controls {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cart-controls span{
    margin-top: 20px;
}

.cart-price {
    flex: 1;
    text-align: right;
    color: #f5bd33;
    font-size: 20px;
    font-weight: bold;
}

.cart-total {
    color: #f5bd33;
    font-size: 24px;
    margin-top: 1rem;
}

.cart-actions {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.empty-cart {
    font-size: 24px;
    color: #f5bd33;
    margin-top: 2rem;
}